

- name: grafana_selinux
  src: https://gitlab.com/bodsch/ansible-grafana-selinux.git
  scm: git
  version: 1.0.0

- name: trickster
  src: https://gitlab.com/bodsch/ansible-trickster.git
  scm: git
  version: 1.0.1

- name: grafana
  src: https://github.com/cloudalchemy/ansible-grafana.git
  version: 0.14.2

- name: node_exporter
  src: https://github.com/cloudalchemy/ansible-node-exporter.git
  version: 0.14.0

- name: prometheus
  src: https://github.com/cloudalchemy/ansible-prometheus.git
  version: 2.11.0
